<div class="chat-text-extractor">
  <h1>Chat Text Extractor</h1>
  <div class="row">

    <div class="col-xs-4">
      <label>Enter Chat</label>  
    </div>

    <div class="col-xs-8">
      <input type="text" class="text-input" [(ngModel)]="inputString"/>  
      <input type="button" class="submit-btn" [disabled]="!inputString" (click)="onSubmit(inputString)" value="Extract" >
    </div>

  </div>
  <div class="row">
    <label>Output:</label> 
    <div class="output">
      {{ output }}
      <div class="loading" [hidden]="!loading">..Extracting..</div>
    </div>
  </div>
</div>